<h1>会員情報編集</h1>

<%= form_with model: @customer, url: public_customers_information_path do |f| %>
  <table>
    <tbody>
      <tr>
        <td>
          氏名
        </td>
        <td>
          <%= f.text_field :last_name, autofocus: true, placeholder:"姓" %>
        </td>
        <td>
          <%= f.text_field :first_name, placeholder:"名" %>
        </td>
      </tr>

      <tr>
        <td>
          カナ
        </td>
        <td>
          <%= f.text_field :last_name_kana, placeholder:"セイ" %>
        </td>
        <td>
          <%= f.text_field :first_name_kana, placeholder:"メイ" %>
        </td>
      </tr>

      <tr>
        <td>
          郵便番号
        </td>
        <td>
          <%= f.text_field :postal_code, placeholder:"000000" %>
        </td>
      </tr>

      <tr>
        <td>
          住所
        </td>
        <td>
          <%= f.text_field :address, placeholder:"住所" %>
        </td>
      </tr>

      <tr>
        <td>
          電話番号
        </td>
        <td>
          <%= f.text_field :telephone_number, placeholder:"00000000000" %>
        </td>
      </tr>

      <tr>
        <td>
          メールアドレス
        </td>
        <td>
          <%= f.text_field :email, placeholder:"○○○＠○○○○" %>
        </td>
      </tr>

      <tr>
        <td></td>
        <td>
          <%= f.submit "編集を保存" %>
        </td>
        <td>
          <%= link_to '退会する', public_customers_unsubscribe_path %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>