<%= render 'public/items/genre_search', genres: @genres %>

<p>ようこそ、ながのCAKEへ！</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員ではない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>

<h3>新着商品</h3>
<% @items.each do |item| %>
  <%= link_to public_item_path(item.id) do %>
    <div>
      <p>
        <%= image_tag item.get_image(100,100) %>
      </p>

      <p>
        <%= item.name %>
      </p>

      <p>
        ￥<%= item.price.to_s(:delimited) %>
      </p>
    </div>
  <% end %>
<% end %>

<%= link_to 'すべての商品を見る＞', public_items_path %>