<h1>注文履歴詳細</h1>

<table>
    <tbody>
      <tr>
        <td>購入者</td>
        <td>
          <%= @order.name %>
        </td>
      </tr>

      <tr>
        <td>注文日</td>
        <td>
          <%= @order_detail.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </td>
      </tr>

      <tr>
        <td>配送先</td>
        <td>
          <p><%= '〒' + @order.postal_code + ' ' + @order.address %></p>
          <p><%= @order.name %></p>
        </td>
      </tr>

      <tr>
        <td>支払方法</td>
        <td>
          <%= @order.payment_method_i18n %>
        </td>
      </tr>

      <tr>
        <td>注文ステータス</td>
        <td>
          <%= form_with model: @order, url: admin_order_path(@order.id) do |f| %>
            <%= f.select :status, Order.statuses_i18n.map { |k, v| [v, k] }, selected: @order.status %>
            <%= f.submit "更新" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>