<div class="col">
  <h2 class="p-2 bg-secondary text-white mb-5 text-center">配送先編集</h2>

  <%= form_with model: @address, url: public_address_path(@address) do |f| %>
    <table>
      <tbody>
        <tr>
          <td style="width: 40%">郵便番号(ハイフンなし)</td>
          <td style="width: 40%"><%= f.text_field :postal_code, placeholder: "0000000" %></td>
        </tr>

        <tr>
          <td>住所</td>
          <td><%= f.text_field :address, placeholder: "住所" %></td>
        </tr>

        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name, placeholder: "宛名" %></td>
          <td><%= f.submit '変更を保存', class:"btn btn-success" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>