<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if customer_signed_in? %>
      <div class="text-right">
        <%= link_to 'マイページ', public_customers_my_page_path %>
        <%= link_to '商品一覧', public_items_path %>
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
      </div>
      <%= form_with url: public_items_path, method: :get do |f| %>
        <%= f.text_field :item_name, placeholder: "Search" %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
